Library/
Temp/
Logs/
obj/
.vscode
.vs/
.vsconfig
*.sln
*.csproj
*.sln
*.userprefs
*.unityproj
*.DS_Store
.fake
*.svd
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.ipch
*.opensdf
*.sdf
*.tlog
*.log
*.idb
*.opendb
PICO-UnitySDK/